.ui-h1 {
  font: 72px/1 $fontHZ;
  @include media-laptop {
    font-size: 60px;
  }
  @include media-tablet {
    font-size: 40px;
  }
}
.ui-h2 {
  font: 40px/1.3 $fontHZ;
  @include media-laptop {
    font-size: 32px;
  }
  @include media-tablet {
    font-size: 25px;
  }
}
.ui-h3 {
  font: 32px/1 $fontHZ;
  @include media-laptop {
    font-size: 24px;
  }
  @include media-tablet {
    font-size: 18px;
  }
}
.ui-h5 {
  font-size: 25px;
  line-height: 1.3;
  @include media-laptop {
    font-size: 20px;
  }
  @include media-tablet {
    font-size: 18px;
  }
  &--t-fz-l {
    @include media-tablet {
      font-size: 25px;
    }
  }
}
[class*='ui-h'] {
  margin: 0;
  p {
    margin: 0;
  }
  p:not(:last-child) {
    margin-bottom: 1em;
  }
  &[class*='--semibold'] {
    font-weight: 600;
  }
  &[class*='--font-secondary'] {
    font-family: $fontHZ;
  }
  &[class*='--font-primary'] {
    font-family: $font;
  }
}
