.profit {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 52px;
  @include media-laptop {
    gap: 26px;
  }
  @include media-tablet {
    grid-template-columns: minmax(0, 1fr);
  }
  &__item {
    text-align: center;
    color: $brown;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 185px;
    padding: 20px;
    border: 1px solid $brown;
    border-radius: 20px;
    @include media-laptop {
      min-height: 94px;
      padding: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
      @include media-laptop {
        margin-bottom: 10px;
      }
    }
  }
}
