mixin why-us(mods)
  -
    const baseName = 'why-us'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .why-us(class=allMods)&attributes(attributes)
    .why-us__img
      img(src='../../images/why-us-img.jpg', alt='')
    +accordions
      +accordions__item('Спрос на SPA услуги продолжает расти')
        +ui-p1('')
          | По уровню насыщения рынок SPA услуг СНГ все еще сильно отстает от азиатских, европейских или американских рынков, создавая существенный потенциал для дальнейшего роста
      +accordions__item('Мы умеем формировать спрос на подарочные сертификаты')
        +ui-p1('')
          | На этапе позиционирования и маркетинга мы делаем акцент
          | на продажах подарочных сертификатов. Объем рынка подарков
          | не сопоставим с рынком SPA услуг. Кроме того, подарочные сертификаты более выгодны с финансовой точки зрения
          | в сравнении с традиционными SPA услугами.
      +accordions__item('Бизнес модель с возможностью варьировать загрузку салона, более низкими фиксированными издержками и зависимостью от доллара')
        +ui-p1('')
          | В отличие от традиционных тайских SPA салонов (которые занимают более 50% рынка) наша концепция позволяет привлекать как местных, так и зарубежных специалистов. Это позволяет нашей модели быть более устойчивой, так как мы перестаем быть привязанными к курс доллара, а также можем варьировать загрузку салона.
      +accordions__item('Работа по бартеру приводит к существенной экономии')
        +ui-p1('')
          | Благодаря сертификатам мы часто работаем с нашими партнерами по бартеру, что приводит к невероятной экономии! Например, еще до открытия в г. Актобе (март 2024г.) мы запустили наружную (более 70 банеров) и радио (все местные радиостанции) рекламу исключительно по бартеру.

    block
