.why-us {
  display: grid;
  grid-template-columns: 45% minmax(0, 1fr);
  align-items: start;
  gap: 98px;
  @include media-laptop {
    grid-template-columns: minmax(0, 1fr);
    gap: 40px;
  }
  &__img {
    position: sticky;
    top: calc(20px + var(--header-height, var(--header-height-initial)));
    border-radius: 20px;
    overflow: hidden;
    @include media-laptop {
      position: static;
      order: 1;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include media-laptop {
        max-height: 540px;
      }
    }
  }
}
